.bg-img{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-width{
    width: 60% !important;
}

.input-text{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

canvas {
    cursor: crosshair;
    border: 1px solid #000000;
}

html, body {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

.img-name{
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}