<html>
<title>Algoface</title>

<head>
    <script src="./js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <script src="./js/jquery-3.3.1.slim.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body ng-app="myApp" class="ng-scope" style="background-image: url('./images/ai.jpg');height: 100%; background-position: center; background-size: cover;">
    <div ng-controller="MyCtrl">
        <div class="container-fluid mb-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron jumbotron-fluid" style="opacity: 0.6">
                        <div class="container">
                            <h1 class="display-4 text-center">{{welcomeText}}</h1>
                            <p class="lead"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-8 offset-sm-4">
                    <label class="input-text">{{image}}</label>
                    <input type='file' class="form-control input-width" onchange="angular.element(this).scope().imageUpload(event)" multiple
                        accept="image/*" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-10 offset-sm-1">
                    <div id="carouselExampleControls" class="carousel" style="width: 85%" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item" data-ng-repeat="image in images" data-ng-class="{active : $first}">
                                <div class="offset-md-5"><img data-ng-src="{{image.fileName}}" width="{{image.width}}" height="{{image.height}}"
                                        alt="carousel {{$index}}" /></div>
                                <div class="offset-md-5 mt-3"><label class="input-text">{{widthLabel}}</label><input type="text"
                                        class="form-control input-width" placeholder="Enter width..." ng-model="image.width"
                                        name="width" value="Width"></div>
                                <div class="offset-md-5 mt-3"><label class="input-text">{{heightLabel}}</label><input type="text"
                                        class="form-control input-width" placeholder="Enter height..." ng-model="image.height"
                                        name="height"></div>
                                <div class="offset-md-5 mt-3"><label class="input-text">{{annotation}} {{$index + 1}}</label><input
                                        type="text" class="form-control input-width" placeholder="Enter name {{image.id + 1}}"
                                        onkeyup="setText(event)" id="image{{image.id}}" name="name"></div>
                            </div>
                        </div>
                        <a ng-if="images.length >1" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>Í                        <a ng-if="images.length >1" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-2 offset-md-5">
                    <div class="text-center"> <button class="btn btn-primary form-control" id="isDisabled" ng-disabled="!images.length>0"
                            ng-click="submitImage()">SUBMIT</button></div>
                </div>
            </div>
        </div>
</body>
</html>